<h2>Editing Checklist <%= checklist.name %></h2>

<%= render 'form' %>

<div class="row">
  <div class="col-sm-2">
  </div>
  <div class="col-sm-6">
    <%= link_to 'Show', checklist %>
    |
    <%= link_to 'Back', checklists_path %>
  </div>
</div>
