<h2>New Checklist</h2>

<%= render 'form', checklist: checklist %>

<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-6">
    <%= link_to 'Back', checklists_path %>
  </div>
</div>
